.calculator_route {
  padding: 50px 0;

  h1 {
    font-size: 3rem;
  }

  &-form {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--primary);
    padding: 3rem;
    margin: 0 auto;

    &_header {
      margin-bottom: 20px;
    }

    &_userinfo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      padding-bottom: 20px;
      border-bottom: 0.5px solid #e5e5e5;

      > div {
        display: grid;
        place-items: center;
        text-align: center;
        p {
          font-size: 2rem;
        }

        h2 {
          font-size: 3rem;
        }
      }
    }

    &_controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      border-bottom: 0.5px solid #e5e5e5;
      padding: 20px 0;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .form_input {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          font-size: 1.6rem;
        }

        input {
          outline: 1px solid var(--primary);
          padding: 8px 12px;
          border: 1px solid var(--primary);
          border-radius: 5px;
          color: #fff;
          background-color: var(--card-bg);
        }
      }
    }

    &_returns {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .flex-between {
        display: flex;
        align-items: center;
        justify-content: space-between;

        b {
          text-align: end;
        }
      }
    }
  }
}
