%base-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--card-bg);
  border-radius: 8px;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.fixed-modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 1.25em;
}

.transaction_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 2em;

  &-content {
    text-align: center;
  }
}

.invite_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 2em;

  &-content {
    display: flex;
    flex-direction: column;
  }
}

.account_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 2em;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.wallet_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 1.5em;

  .flex-gap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  .wallet_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1.5em;
    margin-top: 2em;

    &-card {
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
